* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap : 2rem;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}

.main {
    height: 80%;
    width: 20%;
    border: 2px solid rgb(255, 0, 0) ;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 50px rgb(66, 46, 46);
    position: relative;
}


.box {
    position: absolute;
    height: 10%;
    width: 18%;
    border-radius: 1rem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 1rem;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgb(71, 59, 59);
}

.timer {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 5px red;
    border: 2px solid red;
}

#overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 4rem;
    text-transform: uppercase;
    background: #000000af;
    align-items: center;
    justify-content: center;
    display: none;
}