* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslategrey;
}

.g-parent {
  height: 50%;
  width: 50%;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.parent {
  height: 50%;
  width: 50%;
  background-color: darkgoldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

button {
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  border: 1px solid gray;
}
